.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: blue;
}
.h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: red;
}
.p {
   text-align: left;
    font-family: 'Rajdhani', sans-serif;
    color: orange;  
    font-size: 20px;
}
.interactivehyper {
  float: right;
  width: 300px
}
.body {
   background-color: gray;
   max-width: 768px;
   max-height: 1024px;
  margin: auto;
  display: block;

}
